.mobile-nav {
  height: 100px;
  background: red;
  background: -webkit-linear-gradient(left top, black, red);
  background: -o-linear-grandient(bottom right, black, red);
  background: linear-gradient(to bottom right, black, red);
  div {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
    padding-left: 15px;
    color: white; 
    clear: right;
  }
  button {
  	height: 100px;
  	float: right;
  	padding: 0;
  	margin: 0;
  	background: none;
  	border: none;
    &:focus {
      outline: none;
    }
  	img {
  	  height: 75px; 
  	  width: 100px;
  	}
  }
  ul {
  	background-color: #780703;
  	float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
	  position: absolute;
	  // top: -200px;
    display: none;
    li {
      padding: 0;
      line-height: 40px;
	    height: 40px;
      margin: 0;
      border-bottom: 1px solid black;
      a {
      	display: block;
        color: white;
      }
	  }
  }
}

#mobile-contact {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 10px 10px;
      margin: 0;
      a {
        img {
          width: 40px;
        }
      }
    }
  }
}