<nav class="nav">
  <div class="name">
    <p>Tyler McKenzie</p>
    <!-- <a ng-href="https://resume.creddle.io/resume/docx/61vb0zucyc1">Download Resume</a> -->
  </div>

  <!-- <p class="about">I'm Tyler, a passionate web developer seeking new opportunities. <br> I enjoy using Javascript/Coffee-script, Sass/Scss, and Rails to create fun and complex web applications.</p> -->
</nav>




<div class="contact">
  <hr class="hr-text" data-content="CONTACT">
  <ul>
    <li><a target="_blank" ng-href="https://github.com/TylerMcKenzie"><img src="/icons/Octicons-mark-github.svg.png"></a></li>
    <li><a target="_blank" ng-href="https://www.linkedin.com/in/tyler-mckenzie-426521107"><img src="/icons/linkedIn_icon.png"></a></li>
    <li><a target="_blank" ng-href="https://www.facebook.com/tyler.mckenzie.148"><img src="/icons/square-facebook-128.png"></a></li>
    <li><a target="_blank" ng-href="https://twitter.com/tylrmckenz1"><img src="/icons/twitter-128.png"></a></li>
    <li><a target="_blank" ng-href="mailto:tylrmckenz@gmail.com"><img src="/icons/gmail.ico"></a></li>
  </ul>
</div>
