<div id="projects">
  <ul id="projects_ul">
    <li>
      <div class="carousel_container">
      	<div class="carousel_inner hover-t">
      	  <ul>
            <li><img src="/project-ze-screenshot-3.png"></li>
            <li><img src="/project-ze-screenshot-1.png"></li>
            <li><img src="/project-ze-screenshot-2.png"></li>
            <li><img src="/project-ze-screenshot-4.png"></li>
      	  </ul>
      	</div>
      	<div class="hover-text">
  		  <a ng-href="http://projectze.herokuapp.com" target="_blank">
      	    <p>ProjectZe</p>
      	  </a>
      	</div>
      </div>
    </li>
    <li>
      <div class="carousel_container">
      	<div class="carousel_inner hover-t">
      	  <ul>
            <li><img src="/buildout-screenshot-1.png"></li>
            <li><img src="/buildout-screenshot-2.png"></li>
            <li><img src="/buildout-screenshot-3.png"></li>
      	  </ul>
      	</div>
      	<div class="hover-text">
  		  <a ng-href="http://mybuildoutapp.herokuapp.com" target="_blank">
      	    <p>BuildoutApp</p>
      	  </a>
      	</div>
      </div>
    </li>
    <li>
      <div class="carousel_container">
      	<div class="carousel_inner hover-t">
      	  <ul>
            <li><img src="/myeasybudget-screenshot-1.png"></li>
            <li><img src="/myeasybudget-screenshot-2.png"></li>
      	  </ul>
      	</div>
      	<div class="hover-text">
  		  <a ng-href="http://myeasybudget.herokuapp.com" target="_blank">
      	    <p>MyEasyBudget</p>
      	  </a>
      	</div>
      </div>
    </li>
  </ul>
</div>
