<div id="site-info">
<div>
  <div id="info">This site is comprised of a Rails 4 backend and an AngularJs frontend. I chose Rails mainly because that is the backend that I know best. Currently, this site utilizes AngularJs as its front-end framework.<br><br><a href="/">HOME</a></div>
</div>
</div>

<div id="contact">
  <hr class="hr-text" data-content="CONTACT">
  <ul>
  	<li><a target="_blank" ng-href="https://github.com/TylerMcKenzie"><img src="/icons/Octicons-mark-github.svg.png"></a></li>
  	<li><a target="_blank" ng-href="https://www.linkedin.com/in/tyler-mckenzie-426521107"><img src="/icons/linkedIn_icon.png"></a></li>
  	<li><a target="_blank" ng-href="https://www.facebook.com/tyler.mckenzie.148"><img src="/icons/square-facebook-128.png"></a></li>
  	<li><a target="_blank" ng-href="https://twitter.com/tylrmckenz1"><img src="/icons/twitter-128.png"></a></li>
  	<li><a target="_blank" ng-href="mailto:tylrmckenz@gmail.com"><img src="/icons/gmail.ico"></a></li>
  </ul>
</div>