<div id="site-info">
<div>
  <div id="info">This site is comprised of a Rails 4 backend and an AngularJs frontend. I chose Rails mainly because that is the backend that I know best. Currently, my favourite frontend frame-work is Angular(which is why I chose it for this site). It also lets me be a bit more liberal with my Javascript code, but it is not without its bugs. These bugs are generally caused by rails routing, but I set up a redirect to solve that. Which in turn broke all of my anchor tags so I had to make a scroll service that solves that. <br><br><a href="/">HOME</a></div>
</div>
</div>

<div id="contact">
  <hr class="hr-text" data-content="CONTACT">
  <ul>
  	<li><a target="_blank" ng-href="https://github.com/TylerMcKenzie"><img src="/icons/Octicons-mark-github.svg.png"></a></li>
  	<li><a target="_blank" ng-href="https://www.linkedin.com/in/tyler-mckenzie-426521107"><img src="/icons/linkedIn_icon.png"></a></li>
  	<li><a target="_blank" ng-href="https://www.facebook.com/tyler.mckenzie.148"><img src="/icons/square-facebook-128.png"></a></li>
  	<li><a target="_blank" ng-href="https://twitter.com/tylrmckenz1"><img src="/icons/twitter-128.png"></a></li>
  	<li><a target="_blank" ng-href="mailto:tylrmckenz@gmail.com"><img src="/icons/gmail.ico"></a></li>
  </ul>
</div>